Example/Pods
Example/Podfile.lock
Example/SygicUIKit.xcworkspace
Example/SygicUIKit.xcodeproj/xcuserdata
Example/SygicUIKit.xcodeproj/project.xcworkspace/xcuserdata
Example/Build/test-reports/unit/cobertura.xml
Example/Build/test-reports/unit/report.html
Example/Build/test-reports/unit/report.junit
Example/.scannerwork
fastlane/README.md
fastlane/report.xml
.scannerwork/
sonar-reports/
*.bak
SygicUIKit/Classes/SYUIConstants.swift
